
div {
    display: block;
}
.main-bar {
    padding: 20px 10px;
    background-color: #70658A;
    margin-bottom: 30px;
    border-radius: 5px;
}
.product {
    width: 45%;
    float: left;
}
.quantity {
    width: 15%;
    float: left;
    text-align: center;
}
.price {
    width: 20%;
    float: left;
    text-align: center;
}
.clear {
    clear: both;
}
.items {
    padding: 20px 10px;
    background-color: #ffffff;
    border-radius: 5px;
}
.title1, .title2, .title3 {
    width: 45%;
    float: left;
}
.quantity1, .quantity2, .quantity3 {
    /*width: 15%;
    float: left;*/
    text-align: center;
    float:right;
    margin:-35px 45% 0 40%;
}
form {
    display: block;
    margin-top: 0em;
}
.price1, .price2, .price3 {
    width: 72%;
    float: right;
    text-align: center;
}
.total {
    padding: 0 60px;
    margin: 20px 0;
}
.total1, .total2 {
    width: 50%;
    float: left;
    font-size: 23px;
    font-weight: bold;
    color: #47484A;
}
.total2 {
    text-align: right;
}
.checkout {
    background-color: #FFF;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
.discount {
    width: 50%;
    float: left;
}
    .discount span {
        color: #898989;
        font-weight: bold;
    }
.discount input[type="text"] {
    padding: 7px 5px;
    width: 25%;
    text-align: center;
    margin-left: 20px;
    font-size: 16px;
    outline: none;
    border: 2px solid #b6c0c9;
    border-radius: 5px;
    color: #b6c0c9;
}
.add {
    width: 20%;
    float: left;
    padding-top: 7px;
}
    .add a {
        color: #70658a;
        font-weight: bold;
    }
.checkout-btn {
    width: 30%;
    float: left;
    padding-top: 7px;
}
    .checkout-btn a {
        padding: 7px 30px;
        color: #FFF;
        font-weight: bold;
        background-color: #70658a;
        border-radius: 5px;
    }
.alert-close1, .alert-close2, .alert-close3 {
    background: url(/images/close1.png) no-repeat 0px 0;
    cursor: pointer;
    height: 22px;
    width: 22px;
    position: absolute;
    right: 0;
    top: 20px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
p {
    margin: -35px 0 0 140px;
    color: #8D8E98;
}