
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Visitors an Admin Panel Category Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <!-- //bootstrap-css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link href="~/css/Admin/inputdev.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/Admin/admindev.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/Admin/font-awesome.css" rel="stylesheet" />
    <link href="~/css/Admin/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Admin/font.css" rel="stylesheet" />
    <link href="~/css/Admin/jqvmap.css" rel="stylesheet" />
    <link href="~/css/Admin/lightbox.css" rel="stylesheet" />
    <link href="~/css/Admin/minimal.css" rel="stylesheet" />
    <link href="~/css/Admin/monthly.css" rel="stylesheet" />
    <link href="~/css/Admin/morris.css" rel="stylesheet" />
    <link href="~/css/Admin/style-responsive.css" rel="stylesheet" />
    <link href="~/css/Admin/style.css" rel="stylesheet" />
    <link href="~/css/Admin/inputdev.css" rel="stylesheet" />

    <link href="~/css/Admin/adminstore.css" rel="stylesheet" />

    <!--Java Script-->
    <script src="~/js/Admin/jquery2.0.3.min.js" type="text/javascript"></script>
    <script src="~/js/Admin/raphael-min.js" type="text/javascript"></script>
    <script src="~/js/Admin/morris.js" type="text/javascript"></script>
    <!-- font CSS -->
    <link rel="stylesheet" href="~/fonts/fontawesome-webfont.woff2" type="text/css" media="all" />
    <link rel="stylesheet" href="~/fonts/fontawesome-webfont.woff" type="text/css" media="all" />
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- //calendar -->
    <!-- //font-awesome icons -->
    <header class="header fixed-top clearfix">
        <!--logo start-->
        <div class="brand">
            <a href="Admin" class="logo">
                ADMIN
            </a>
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars"></div>
            </div>
        </div>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">
                <!-- settings start -->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-tasks"></i>
                        <span class="badge bg-success">8</span>
                    </a>
                    <ul class="dropdown-menu extended tasks-bar">
                        <li>
                            <p class="">You have 8 pending tasks</p>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info clearfix">
                                    <div class="desc pull-left">
                                        <h5>Target Sell</h5>
                                        <p>25% , Deadline  12 June’13</p>
                                    </div>
                                    <span class="notification-pie-chart pull-right" data-percent="45">
                                        <span class="percent"></span>
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info clearfix">
                                    <div class="desc pull-left">
                                        <h5>Product Delivery</h5>
                                        <p>45% , Deadline  12 June’13</p>
                                    </div>
                                    <span class="notification-pie-chart pull-right" data-percent="78">
                                        <span class="percent"></span>
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info clearfix">
                                    <div class="desc pull-left">
                                        <h5>Payment collection</h5>
                                        <p>87% , Deadline  12 June’13</p>
                                    </div>
                                    <span class="notification-pie-chart pull-right" data-percent="60">
                                        <span class="percent"></span>
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info clearfix">
                                    <div class="desc pull-left">
                                        <h5>Target Sell</h5>
                                        <p>33% , Deadline  12 June’13</p>
                                    </div>
                                    <span class="notification-pie-chart pull-right" data-percent="90">
                                        <span class="percent"></span>
                                    </span>
                                </div>
                            </a>
                        </li>

                        <li class="external">
                            <a href="#">See All Tasks</a>
                        </li>
                    </ul>
                </li>
                <!-- settings end -->
                <!-- inbox dropdown start-->
                <li id="header_inbox_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-important">4</span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <li>
                            <p class="red">You have 4 Mails</p>
                        </li>
                        <li>
                            <a href="#">
                                <span class="subject">
                                    <span class="from">Jonathan Smith</span>
                                    <span class="time">Just now</span>
                                </span>
                                <span class="message">
                                    Hello, this is an example msg.
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="subject">
                                    <span class="from">Jane Doe</span>
                                    <span class="time">2 min ago</span>
                                </span>
                                <span class="message">
                                    Nice admin template
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="subject">
                                    <span class="from">Tasi sam</span>
                                    <span class="time">2 days ago</span>
                                </span>
                                <span class="message">
                                    This is an example msg.
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="subject">
                                    <span class="from">Mr. Perfect</span>
                                    <span class="time">2 hour ago</span>
                                </span>
                                <span class="message">
                                    Hi there, its a test
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">See all messages</a>
                        </li>
                    </ul>
                </li>
                <!-- inbox dropdown end -->
                <!-- notification dropdown start-->
                <li id="header_notification_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                        <i class="fa fa-bell-o"></i>
                        <span class="badge bg-warning">3</span>
                    </a>
                    <ul class="dropdown-menu extended notification">
                        <li>
                            <p>Notifications</p>
                        </li>
                        <li>
                            <div class="alert alert-info clearfix">
                                <span class="alert-icon"><i class="fa fa-bolt"></i></span>
                                <div class="noti-info">
                                    <a href="#"> Server #1 overloaded.</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="alert alert-danger clearfix">
                                <span class="alert-icon"><i class="fa fa-bolt"></i></span>
                                <div class="noti-info">
                                    <a href="#"> Server #2 overloaded.</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="alert alert-success clearfix">
                                <span class="alert-icon"><i class="fa fa-bolt"></i></span>
                                <div class="noti-info">
                                    <a href="#"> Server #3 overloaded.</a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </li>
                <!-- notification dropdown end -->
            </ul>
            <!--  notification end -->
        </div>
        <div class="top-nav clearfix">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <li>
                    <input type="text" class="form-control search" placeholder=" Search">
                </li>
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="username">John Doe</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                        <li><a href="login.html"><i class="fa fa-key"></i> Log Out</a></li>
                    </ul>
                </li>
                <!-- user login dropdown end -->

            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <aside>
        <div id="sidebar" class="nav-collapse">
            <!-- sidebar menu start-->
            <div class="leftside-navigation" tabindex="5000" style="overflow: hidden; outline: none;">
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a class="active" href="/Product/Index">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="sub-menu dcjq-parent-li">
                        <a href="javascript:;" class="dcjq-parent">
                            <i class="fa fa-book"></i>
                            <span>Sản Phẩm</span>
                            <span class="dcjq-icon"></span>
                            <span class="dcjq-icon"></span>
                        </a>
                        <ul class="sub" style="display: none;">
                            <li><a href="/Product/Index">Sản phẩm chính</a></li>
                            <li><a href="/MainGroup/Index">Ngành hàng chính</a></li>
                            <li><a href="/SubGroup/Index">Ngành hàng phụ</a></li>
                            <li><a href="/Brand/Index">Nhãn hiệu</a></li>
                            <li><a href="/Category/Index">Loại</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu dcjq-parent-li">
                        <a href="javascript:;" class="dcjq-parent">
                            <i class="fa fa-th"></i>
                            <span>Mua Hàng</span>
                            <span class="dcjq-icon"></span>
                            <span class="dcjq-icon"></span>
                        </a>
                        <ul class="sub" style="display: none;">
                            <li><a href="/Shop/ShopAll">Tất cả</a></li>
                            <li><a href="/Shop/MenShop">Nam</a></li>
                            <li><a href="/Shop/WomenShop">Nữ</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu dcjq-parent-li">
                        <a href="javascript:;" class="dcjq-parent">
                            <i class="fa fa-tasks"></i>
                            <span>Form Components</span>
                            <span class="dcjq-icon"></span>
                            <span class="dcjq-icon"></span>
                        </a>
                        <ul class="sub" style="display: none;">
                            <li><a href="form_component.html">Form Elements</a></li>
                            <li><a href="form_validation.html">Form Validation</a></li>
                            <li><a href="dropzone.html">Dropzone</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu dcjq-parent-li">
                        <a href="javascript:;" class="dcjq-parent">
                            <i class="fa fa-envelope"></i>
                            <span>Mail </span>
                            <span class="dcjq-icon"></span>
                            <span class="dcjq-icon"></span>
                        </a>
                        <ul class="sub" style="display: none;">
                            <li><a href="mail.html">Inbox</a></li>
                            <li><a href="mail_compose.html">Compose Mail</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu dcjq-parent-li">
                        <a href="javascript:;" class="dcjq-parent">
                            <i class=" fa fa-bar-chart-o"></i>
                            <span>Charts</span>
                            <span class="dcjq-icon"></span>
                            <span class="dcjq-icon"></span>
                        </a>
                        <ul class="sub" style="display: none;">
                            <li><a href="chartjs.html">Chart js</a></li>
                            <li><a href="flot_chart.html">Flot Charts</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu dcjq-parent-li">
                        <a href="javascript:;" class="dcjq-parent">
                            <i class=" fa fa-bar-chart-o"></i>
                            <span>Maps</span>
                            <span class="dcjq-icon"></span>
                            <span class="dcjq-icon"></span>
                        </a>
                        <ul class="sub" style="display: none;">
                            <li><a href="google_map.html">Google Map</a></li>
                            <li><a href="vector_map.html">Vector Map</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu dcjq-parent-li">
                        <a href="javascript:;" class="dcjq-parent">
                            <i class="fa fa-glass"></i>
                            <span>Extra</span>
                            <span class="dcjq-icon"></span>
                            <span class="dcjq-icon"></span>
                        </a>
                        <ul class="sub" style="display: none;">
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="404.html">404 Error</a></li>
                            <li><a href="registration.html">Registration</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="login.html">
                            <i class="fa fa-user"></i>
                            <span>Login Page</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- sidebar menu end-->
            <div id="ascrail2000" class="nicescroll-rails" style="width: 3px; z-index: auto; cursor: default; position: absolute; top: 0px; left: 237px; height: 324px; opacity: 0; display: block;"><div style="position: relative; top: 0px; float: right; width: 3px; height: 166px; background-color: rgb(139, 92, 126); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div></div><div id="ascrail2000-hr" class="nicescroll-rails" style="height: 3px; z-index: auto; top: 321px; left: 0px; position: absolute; cursor: default; display: none; width: 237px; opacity: 0;"><div style="position: relative; top: 0px; height: 3px; width: 240px; background-color: rgb(139, 92, 126); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div></div>
            <div id="ascrail2001" class="nicescroll-rails" style="width: 3px; z-index: auto; cursor: default; position: absolute; top: 0px; left: 237px; height: 315px; opacity: 0; display: block;"><div style="position: relative; top: 158px; float: right; width: 3px; height: 157px; background-color: rgb(139, 92, 126); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div></div><div id="ascrail2001-hr" class="nicescroll-rails" style="height: 3px; z-index: auto; top: 312px; left: 0px; position: absolute; cursor: default; display: none; width: 237px; opacity: 0;"><div style="position: relative; top: 0px; height: 3px; width: 240px; background-color: rgb(139, 92, 126); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px; left: 0px;"></div></div>
        </div>
    </aside>
</head>

<body>
    <div id="fb-root"></div>
    <script>
    (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.1&appId=1436884009706757&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script src="~/js/Admin/bootstrap.js" type="text/javascript"></script>
    <script src="~/js/Admin/jquery.dcjqaccordion.2.7.js" type="text/javascript"></script>
    <script src="~/js/Admin/scripts.js" type="text/javascript"></script>
    <script src="~/js/Admin/jquery.slimscroll.js" type="text/javascript"></script>
    <script src="~/js/Admin/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/js/Admin/jquery.scrollTo.js" type="text/javascript"></script>
    <script src="~/js/Admin/monthly.js" type="text/javascript"></script>
    <!-- Body -->
    <div style="margin-left:20%">
        @RenderBody()
    </div>
    <section id="main-content">
        <section class="wrapper">
            <div class="footer">
                <div class="wthree-copyright">
                    <p>© 2017 Visitors. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
                </div>
            </div>
        </section>
    </section>
    <!-- //Body -->
</body>
</html>
