html,body {
    background: white;
}
.titlename {
    margin-left: 19%;
    margin-top: 7%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title {
}
    .title ul {
        color: white;
        opacity: 0.8;
        background: #1494e2;
        border: 2px solid #ccc;
        border-radius: 6px;
        margin-left: 20%;
        margin-top: 1%;
        margin-bottom: 5%;
        display: inline-flex;
        list-style-type: none;
    }
        .title ul li {
            padding: 10px 65px;
            border-right: 2px solid #ccc;
        }
.titlebrand {
}
    .titlebrand ul {
        color: #337ab7;
        opacity: 0.8;
        border: 2px solid black;
        margin-left: 20%;
        margin-top: 2%;
        display: inline-flex;
        list-style-type: none;
    }
        .titlebrand ul li {
            padding: 10px 65px;
            border-right: 1px solid black;
        }
        .titlebrand ul li:after {
            content: '';
            width: 0;
            height: 0;
            border-top: 5px solid #4a4a4a;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            display: inline-block;
            margin-left: 5px;
            vertical-align: middle;
        }
.btnsearch {
    margin: 35px 0 0 -340px;
    height: 30px;
}
.btnadd {
    margin-left: 26%;
    height: 30px;
}
.btnedit {
    margin-left: 26%;
    height: 30px;
}
.btndel {
    margin-left: 26%;
    height: 30px;
}
.editbtn {
    float: right;
    width: 12%;
}
.wrapper{
    padding:0px;
}
