@model Aoo.ViewModels.PM.MainGroup.EditMainGroupViewModel
@{
    ViewData["Title"] = "EditMainGroup";
    Layout = "~/Views/Admin/_FrontEndAdminLayout.cshtml";
}

<h2>EditMainGroup</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditMainGroup" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ID" type="hidden" class="form-control" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">@Model.Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.OldImage" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DefaultImage" class="control-label"></label>
                @await Html.PartialAsync("~/Views/Component/SingpleUploadImage.cshtml", new Aoo.ViewModels.Component.SingleUploadImageModel { Name = "DefaultImage", DefaultImage = Model.OldImage })
                <span asp-validation-for="DefaultImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">@Model.Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeSex" class="control-label">@Model.TypeSex</label>
                <input asp-for="TypeSex" class="form-control" />
                <span asp-validation-for="TypeSex" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div class="backtolist">
    <a href="/MainGroup/Index">Trở lại trang quản lý</a>
</div>

