@model Common.ViewModel.PM.MainGroupViewModel

@{
    ViewData["Title"] = "EditMainGroup";
    Layout = "~/Views/Admin/_FrontEndAdminLayout.cshtml";
}

<h2>EditMainGroup</h2>

<h4>MainGroupViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditMainGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Tên Loại Sản Phẩm</label>
                <input asp-for="nameMainGroup" class="form-control" />
                <span asp-validation-for="nameMainGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hình Ảnh</label>
                <input asp-for="defaultImages" class="form-control" />
                <span asp-validation-for="defaultImages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Giới Tính</label>
                <input asp-for="typeSex" class="form-control" />
                <span asp-validation-for="typeSex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div class="backtolist">
    <input type="submit" value="Trở Về" class="btn btn-info" />
</div>
