@{
    Layout = null;
    string Title = ViewBag.Title == null ? (ViewBag.Name == null ? "Bán giày Buôn Mê thuột" : ViewBag.Name) : ViewBag.Title;
    string Keyword = ViewBag.Keyword == null ? (ViewBag.Name == null ? "" : ViewBag.Name) : ViewBag.Keyword;
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://ahachat.com/libs/buttonplugin.js" id="ahachat-button-sdk"></script>
    <title>@Title</title>

    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="@Keyword">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta property="fb:app_id" content="1425936334136017" />
    <meta property="og:url" content="URL" />
    <meta property="og:title" content="TITLE" />
    <meta property="og:description" content="DESC" />
    <meta property="og:image" content="IMG" />
    <meta name="keywords" content="Groovy Apparel a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    @*<script src="https://pagead2.googlesyndication.com/pagead/js/r20180723/r20180604/osd.js"></script>
        <script src="https://pagead2.googlesyndication.com/pub-config/r20160913/ca-pub-7733626117287363.js"></script>
        <script async="" src="//www.google-analytics.com/analytics.js"></script>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>*@
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" media="all">
    <!-- Index-Page-CSS -->
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all">
    <!-- //Custom-Stylesheet-Links -->
    <!-- Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700" type="text/css" media="all">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700" type="text/css" media="all">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500" type="text/css" media="all">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    @*<link rel="shortcut icon" href="../assets/ico/favicon.ico">*@

    <!-- //Fonts -->
    <!-- Font-Awesome-File-Links -->
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.css" type="text/css" media="all">
    <!-- TTF -->
    <link rel="stylesheet" href="~/fonts/fontawesome-webfont.ttf" type="text/css" media="all">
    <script src="~/js/jquery-2.2.3.js"></script>
    <script src="~/js/Cookie.js"></script>
    <!-- //Font-Awesome-File-Links -->
    <style type="text/css">
        .eboundDynamicAdsbygoogle {
            display: none !important;
        }
    </style>

    <style type="text/css">
        .eboundDynamicAdsbygoogle {
            display: none !important;
        }
    </style>
    <style type="text/css">
        .eboundDynamicAdsbygoogle {
            display: none !important;
        }
    </style>
</head>
<body>
    <!-- Header -->
    @*<script src="https://uhchat.net/code.php?f=8b8c5d"></script>*@
    <div class="agileheader" id="agileheadermens">

        <!-- Navigation -->
        <nav class="navbar navbar-default w3l navbar-fixed-top">
            <div class="container">
                <div class="navbar-header wthree nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand agileinfo" href="index.html"><span>BMT</span> STORE</a>
                    <ul class="w3header-cart">
                        <li class="wthreecartaits"><span class="my-cart-icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i><span class="badge badge-notify my-cart-badge"></span></span></li>
                    </ul>
                </div>
                <div id="bs-megadropdown-tabs" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="~/Product/Index" class="dropdown-toggle w3-agile hyper" data-toggle="dropdown"><span> NAM </span></a>
                            <ul class="dropdown-menu aits-w3 multi multi1">
                                <div class="row">

                                    <div class="col-sm-3 w3layouts-nav-agile w3layouts-mens-nav-agileits w3layouts-mens-nav-agileits-1">
                                        <ul class="multi-column-dropdown">
                                            <li class="heading">FEATURED</li>
                                            <li><a href="~/Shop/MenShop">SHOP MEN</a></li>
                                            <li><a href="mens.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Online Only</a></li>
                                            <li><a href="mens.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Brands</a></li>
                                            <li><a href="mens.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Clearance Sale</a></li>
                                            <li><a href="mens.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Discount Store</a></li>
                                            <li><a href="mens.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Editor's Pick</a></li>
                                        </ul>
                                    </div>

                                    <div class="col-sm-3 w3layouts-nav-agile w3layouts-mens-nav-agileits w3layouts-mens-nav-agileits-2">
                                        <p>TORSO</p>
                                        <a href="~/Product/Index"><img src="~/images/men-nav-1.jpg" alt="Groovy Apparel"></a>
                                    </div>

                                    <div class="col-sm-3 w3layouts-nav-agile w3layouts-mens-nav-agileits w3layouts-mens-nav-agileits-3">
                                        <p>LEGS</p>
                                        <a href="mens.html"><img src="~/images/men-nav-2.jpg" alt="Groovy Apparel"></a>
                                    </div>

                                    <div class="col-sm-3 w3layouts-nav-agile w3layouts-mens-nav-agileits w3layouts-mens-nav-agileits-4">
                                        <p>ACCESSORIES</p>
                                        <a href="mens_accessories.html"><img src="~/images/men-nav-3.jpg" alt="Groovy Apparel"></a>
                                    </div>

                                    <div class="clearfix"></div>
                                    <p class="promo">Use Promo Code <span>#CFFGTY56</span> and take 30% off the products. <a href="#">Details</a></p>
                                </div>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"><span> WOMEN </span></a>
                            <ul class="dropdown-menu multi multi2">
                                <div class="row">

                                    <div class="col-sm-3 w3layouts-nav-agile w3layouts-womens-nav-agileits w3layouts-womens-nav-agileits-1">
                                        <ul class="multi-column-dropdown">
                                            <li class="heading">FEATURED</li>
                                            <li><a href="~/Women/ShopWomen"><i class="fa fa-angle-right" aria-hidden="true"></i>New Arrivals</a></li>
                                            <li><a href="womens.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Online Only</a></li>
                                            <li><a href="womens.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Brands</a></li>
                                            <li><a href="womens.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Clearance Sale</a></li>
                                            <li><a href="womens.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Discount Store</a></li>
                                            <li><a href="womens.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Editor's Pick</a></li>
                                        </ul>
                                    </div>

                                    <div class="col-sm-3 w3layouts-nav-agile w3layouts-womens-nav-agileits w3layouts-womens-nav-agileits-2">
                                        <p>TOP</p>
                                        <a href="womens.html"><img src="images/women-nav-1.jpg" alt="Groovy Apparel"></a>
                                    </div>

                                    <div class="col-sm-3 w3layouts-nav-agile w3layouts-womens-nav-agileits w3layouts-womens-nav-agileits-3">
                                        <p>LEGS</p>
                                        <a href="womens.html"><img src="~/images/women-nav-2.jpg" alt="Groovy Apparel"></a>
                                    </div>

                                    <div class="col-sm-3 w3layouts-nav-agile w3layouts-womens-nav-agileits w3layouts-womens-nav-agileits-4">
                                        <p>ACCESSORIES</p>
                                        <a href="womens_accessories.html"><img src="~/images/women-nav-3.jpg" alt="Groovy Apparel"></a>
                                    </div>

                                    <div class="clearfix"></div>
                                    <p class="promo">Use Promo Code <span>#CFFGTY56</span> and take 30% off the products. <a href="#">Details</a></p>
                                </div>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"><span> ACCESSORIES </span></a>
                            <ul class="dropdown-menu multi multi3">
                                <div class="row">

                                    <div class="col-sm-3 w3layouts-nav-agile w3layouts-acc-nav-agileits w3layouts-acc-nav-agileits-1">
                                        <ul class="multi-column-dropdown">
                                            <li class="heading">FEATURED</li>
                                            <li><a href="~/Women/ShopWomen"><i class="fa fa-angle-right" aria-hidden="true"></i>New Arrivals</a></li>
                                            <li><a href="mens_accessories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Online Only</a></li>
                                            <li><a href="mens_accessories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Brands</a></li>
                                            <li><a href="mens_accessories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Clearance Sale</a></li>
                                            <li><a href="mens_accessories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Discount Store</a></li>
                                            <li><a href="mens_accessories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Editor's Pick</a></li>
                                        </ul>
                                    </div>

                                    <div class="col-sm-3 w3layouts-nav-agile w3layouts-acc-nav-agileits w3layouts-acc-nav-agileits-2">
                                        <p>MEN</p>
                                        <a href="mens_accessories.html"><img src="~/images/other-nav-1.jpg" alt="Groovy Apparel"></a>
                                    </div>

                                    <div class="col-sm-3 w3layouts-nav-agile w3layouts-acc-nav-agileits w3layouts-acc-nav-agileits-4">
                                        <p>WOMEN</p>
                                        <a href="womens_accessories.html"><img src="~/images/other-nav-2.jpg" alt="Groovy Apparel"></a>
                                    </div>

                                    <div class="col-sm-3 w3layouts-nav-agile w3layouts-acc-nav-agileits w3layouts-acc-nav-agileits-4">
                                        <p>ACCESSORIES</p>
                                        <a href="mens_accessories.html"><img src="~/images/other-nav-3.jpg" alt="Groovy Apparel"></a>
                                    </div>

                                    <div class="clearfix"></div>
                                    <p class="promo">Use Promo Code <span>#CFFGTY56</span> and take 30% off the products. <a href="#">Details</a></p>
                                </div>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"><span> HOTLIST </span></a>
                            <ul class="dropdown-menu multi multi4">
                                <div class="row">

                                    <div class="col-sm-3 w3layouts-nav-agile w3layouts-hot-nav-agileits w3layouts-hot-nav-agileits-1">
                                        <ul class="multi-column-dropdown">
                                            <li class="heading">FEATURED</li>
                                            <li><a href="~/Women/ShopWomen"><i class="fa fa-angle-right" aria-hidden="true"></i>New Arrivals</a></li>
                                            <li><a href="womens_accessories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Online Only</a></li>
                                            <li><a href="womens_accessories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Brands</a></li>
                                            <li><a href="womens_accessories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Clearance Sale</a></li>
                                            <li><a href="womens_accessories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Discount Store</a></li>
                                            <li><a href="womens_accessories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Editor's Pick</a></li>
                                        </ul>
                                    </div>

                                    <div class="col-sm-3 w3layouts-nav-agile w3layouts-hot-nav-agileits w3layouts-hot-nav-agileits-2">
                                        <p>MEN</p>
                                        <a href="mens.html"><img src="~/images/other-nav-1.jpg" alt="Groovy Apparel"></a>
                                    </div>

                                    <div class="col-sm-3 w3layouts-nav-agile w3layouts-hot-nav-agileits w3layouts-hot-nav-agileits-3">
                                        <p>WOMEN</p>
                                        <a href="womens.html"><img src="~/images/other-nav-2.jpg" alt="Groovy Apparel"></a>
                                    </div>

                                    <div class="col-sm-3 w3layouts-nav-agile w3layouts-hot-nav-agileits w3layouts-hot-nav-agileits-4">
                                        <p>ACCESSORIES</p>
                                        <a href="mens_accessories.html"><img src="~/images/other-nav-3.jpg" alt="Groovy Apparel"></a>
                                    </div>

                                    <div class="clearfix"></div>
                                    <p class="promo">Use Promo Code <span>#CFFGTY56</span> and take 30% off the products. <a href="#">Details</a></p>
                                </div>

                            </ul>
                        </li>
                        <li><a href="about.html">ABOUT</a></li>
                        <li class="wthreesearch">
                            <form action="#" method="post">
                                <input type="search" name="Search" placeholder="Search for a Product" required="">
                                <button type="submit" class="btn btn-default search" aria-label="Left Align">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </form>
                        </li>
                        <li class="wthreecartaits wthreecartaits2 cart cart box_1">
                        <form action="#" method="post" class="last">
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="display" value="1" />
                            <button class="w3view-cart" onclick="window.location.href='/san-pham/gio-hang'" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                        </form>
                    </li>

                    </ul>

                </div>

            </div>
        </nav>
        <!-- //Navigation -->
        <!-- Header-Top-Bar-(Hidden) -->
        <div class="agileheader-topbar">
            <div class="container">
                <div class="col-md-6 agileheader-topbar-grid agileheader-topbar-grid1">
                    <p>Free shipping on orders over $150. <a href="payment.html">Details</a></p>
                </div>
                <div class="col-md-6 agileheader-topbar-grid agileheader-topbar-grid2">
                    <ul>
                        <li><a href="stores.html">Store Locator</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a class="popup-with-zoom-anim" href="#small-dialog1">Login</a></li>
                        <li><a class="popup-with-zoom-anim" href="#small-dialog2">Sign Up</a></li>
                        <li><a href="codes.html">Codes</a></li>
                        <li><a href="icons.html">Icons</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>

            <!-- Popup-Box -->
            <div id="popup">
                <div id="small-dialog1" class="mfp-hide agileinfo">
                    <div class="pop_up">
                        <form action="#" method="post">
                            <h3>LOGIN</h3>
                            <input type="text" Name="Userame" placeholder="Username" required="">
                            <input type="password" Name="Password" placeholder="Password" required="">
                            <ul class="tick w3layouts agileinfo">
                                <li>
                                    <input type="checkbox" id="brand1" value="">
                                    <label for="brand1"><span></span>Remember me</label>
                                </li>
                                <li>
                                    <a href="#">Forgot Password?</a>
                                </li>
                            </ul>
                            <div class="send-button wthree agileits">
                                <input type="submit" value="LOGIN">
                            </div>
                        </form>
                    </div>
                </div>
                <div id="small-dialog2" class="mfp-hide agileinfo">
                    <div class="pop_up">
                        <form action="#" method="post">
                            <h3>SIGN UP</h3>
                            <input type="text" Name="Name" placeholder="Name" required="">
                            <input type="text" Name="Email" placeholder="Email" required="">
                            <input type="password" Name="Password" placeholder="Password" required="">
                            <input type="text" Name="Phone Number" placeholder="Phone Number" required="">
                            <div class="send-button wthree agileits">
                                <input type="submit" value="SIGN UP">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- //Popup-Box -->

        </div>
        <!-- //Header-Top-Bar-(Hidden) -->
    </div>
    <!-- //Header -->
    <!-- Body -->
    @RenderBody()
    <!-- //Body -->
    <!-- Newsletter -->
    <div class="w3lsnewsletter" id="w3lsnewsletter">
        <div class="container">
            <div class="w3lsnewsletter-grids">
                <div class="col-md-5 w3lsnewsletter-grid w3lsnewsletter-grid-1 subscribe">
                    <h2>Subscribe to our Newsletter</h2>
                </div>
                <div class="col-md-7 w3lsnewsletter-grid w3lsnewsletter-grid-2 email-form">

                    <input class="email" type="email" name="Email" placeholder="Email Address" id="EmailValue" required="">
                    <input type="submit" class="submit" value="SUBSCRIBE" id="SUBSCRIBEEMAIL">

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //Newsletter -->
    <!-- Footer -->
    <div class="agileinfofooter">
        <div class="agileinfofooter-grids">

            <div class="col-md-4 agileinfofooter-grid agileinfofooter-grid1">
                <ul>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="mens.html">MEN'S</a></li>
                    <li><a href="mens_accessories.html">MEN'S ACCESSORIES</a></li>
                    <li><a href="womens.html">WOMEN'S</a></li>
                    <li><a href="womens_accessories.html">WOMEN'S ACCESSORIES</a></li>
                </ul>
            </div>

            <div class="col-md-4 agileinfofooter-grid agileinfofooter-grid2">
                <ul>
                    <li><a href="stores.html">STORE LOCATOR</a></li>
                    <li><a href="faq.html">FAQs</a></li>
                    <li><a href="codes.html">CODES</a></li>
                    <li><a href="icons.html">ICONS</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>

            <div class="col-md-4 agileinfofooter-grid agileinfofooter-grid3">
                <address>
                    <ul>
                        <li>40019 Parma Via Modena</li>
                        <li>Sant'Agata Bolognese</li>
                        <li>BO, Italy</li>
                        <li>+1 (734) 123-4567</li>
                        <li><a class="mail" href="mailto:mail@example.com">info@example.com</a></li>
                    </ul>
                </address>
            </div>
            <div class="col-md-4 agileinfofooter-grid agileinfofooter-grid3">
                <div class="simple-subscription-form">
                    <form>
                        <h4>Subscribe</h4>
                        <p>Receive updates and latest news direct from our team. Simply enter your email below :</p>
                        <div class="input-group">
                            <span class="input-group-label">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <input class="input-group-field" type="email" placeholder="Email" required>
                            <button class="button">Sign up now</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
    <!-- //Footer -->
    <!--Copyright-->
    <div class="ahahchat-button-plugin" data-plugin-code="q1et4NsAlJ5b6d5317c935b"></div>
    <div class="w3lscopyrightaits">
        <div class="col-md-8 w3lscopyrightaitsgrid w3lscopyrightaitsgrid1">
            <p>© 2017 Groovy Apparel. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="=_blank"> W3layouts </a></p>
        </div>

        <div class="clearfix"></div>
    </div>

    <!--//Copyright-->
</body>
</html>
<!-- //Shopping -->
<!-- Custom-JavaScript-File-Links -->
<!-- Default-JavaScript -->
<script src="~/js/jquery-2.2.3.js"></script>
<script src="~/js/modernizr.custom.js"></script>
<!-- Custom-JavaScript-File-Links -->
<!-- cart-js -->
<script src="~/js/minicart.js"></script>
<script>
    w3l.render();
    w3l.cart.on('w3agile_checkout', function (evt) {
        var items, len, i;
        if (this.subtotal() > 0) {
            items = this.items();
            for (i = 0, len = items.length; i < len; i++) {
            }
        }
    });
</script>
<!-- //cart-js -->
<!-- Shopping-Cart-JavaScript -->
<!-- Header-Slider-JavaScript-Files -->
<script type="text/javascript" src="~/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="~/js/fluid_dg.min.js"></script>
<script>
    jQuery(document).ready(function () {
        jQuery(function () {
            jQuery('#fluid_dg_wrap_4').fluid_dg({
                height: 'auto',
                loader: 'bar',
                pagination: false,
                thumbnails: true,
                hover: false,
                opacityOnGrid: false,
                imagePath: '',
                time: 4000,
                transPeriod: 2000,
            });
        });
    })
</script>
<!-- //Header-Slider-JavaScript-Files -->
<!-- Dropdown-Menu-JavaScript -->
<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //Dropdown-Menu-JavaScript -->
<!-- Pricing-Popup-Box-JavaScript -->
<script src="~/js/jquery.magnific-popup.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });
    });
</script>
<!-- //Pricing-Popup-Box-JavaScript -->
<!-- Model-Slider-JavaScript-Files -->
<script src="~/js/jquery.film_roll.js"></script>
<script>
    (function () {
        jQuery(function () {
            this.film_rolls || (this.film_rolls = []);
            this.film_rolls['film_roll_1'] = new FilmRoll({
                container: '#film_roll_1',
                height: 560
            });
            return true;
        });
    }).call(this);
</script>
<!-- //Model-Slider-JavaScript-Files -->
<!-- //Custom-JavaScript-File-Links -->
<!-- Bootstrap-JavaScript -->
<script src="~/js/bootstrap.js"></script>
<script src="~/js/subscribeEmail.js"></script>
@*<script>
    $(document).ready(function () {

        LoadCartCout();

    });
</script>*@

