@model DAL.Model.PM.Product


@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Admin/_FrontEndAdminLayout.cshtml";
}

<h2>AddProduct</h2>

<h4>ProductViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Trạng Thái</label>
                <input asp-for="isOnlineonly" class="form-control" />
                <span asp-validation-for="isOnlineonly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Quảng Cáo</label>
                <input asp-for="LandingPage" class="form-control" />
                <span asp-validation-for="LandingPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hàng Tồn</label>
                <input asp-for="StockMin" class="form-control" />
                <span asp-validation-for="StockMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Size</label>
                <input asp-for="sizeProduct" class="form-control" />
                <span asp-validation-for="sizeProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Giá</label>
                <input asp-for="priceProduct" class="form-control" />
                <span asp-validation-for="priceProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hình Ảnh</label>
                <input asp-for="defaultImages" class="form-control" />
                <span asp-validation-for="defaultImages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div class="backtolist">
    <input type="submit" value="Trở Về" class="btn btn-info" />
</div>

