.namephone input[type="text"], input[type="password"], input.email.aitsw3ls, textarea.text {
    width: 95%;
    font-size: initial;
    height: 34px;
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #ddd;
}
.containerbill {
    background-color: #f4f4f4 !important;
    width: 100%;
    display: flex;
}
    .containerbill > div {
        background-color: #ffffff;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .containerbill > .container-1{
       width:65%;
       margin:2% 0 2% 2%;

    }
    .containerbill > .container-2 {
        width: 30%;
        height: 180px;
        margin-top: 2%;
    }
.pay{
    margin-top:15px;
    margin-bottom:15px;
}
    .pay button {
        background-color: #1a9cb7;
        border-color: transparent;
        cursor:initial;
        width: 100%;
        height: 40px;
        color: #fff;
    }
.containerbill label{
    font-size:18px;
    font-weight:initial;
}
.namephone{
    margin-top:15px;
}
input::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1; /* Firefox */
}
.dividename{
    width:50%;
    float:left;
}
    .dividename button {
        background-color: #1a9cb7;
        border-color: #1a9cb7;
        width: 80%;
        height: 40px;
        border-radius:3px;
        border:none;
        color: #fff;
        margin:0px 0 0 5%;
    }
.dividetransport{
    width:50%;
    float:right;
}
    .dividetransport .form-control{
        width:185%;
        font-size:initial;
}
.payfee button{
    width:30%;
    margin-left:10px;
}
#home {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    border: 1px solid transparent;
    border-radius: 4px;
}
#local {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
    border: 1px solid transparent;
    border-radius: 4px;
}
#paypal {
    height: 44px;
    background-repeat: no-repeat;
    background-size: 105px 41px;
    background-image: url(../../images/paypal.png);
    padding-bottom: 26px;
}

      