@model Aoo.ViewModels.Component.PaginationModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link href="~/css/Component/pagination.css" rel=" stylesheet" type="text/css" />
@{ 
    int StartNumber =Model.currentPage/5 ;
    StartNumber = StartNumber * 5;
    List<int> listPagination = new List<int>();
    int LowerLimit = 3;
    int UpperLimit = 3;
    if (Model.totalPage == 0)
    {
        Model.totalPage = 1;
    }
    for(int i = 1; i < LowerLimit; i++)
    {
        int page = Model.currentPage - LowerLimit + i;
        if (page >= 1)
        {
            listPagination.Add(page);

        }

    }
    listPagination.Add(Model.currentPage);
    for (int i = 1; i < UpperLimit; i++)
    {
        int page = Model.currentPage  + i;
        if (page <Model.totalPage)
        {
            listPagination.Add(page);

        }

    }
}

<div class="pagination pull-right">
    @if (Model.currentPage > 1)
    {
        <a href="?page=1">&laquo;</a>

    }
    @foreach (var pagenumber in listPagination)
    {

        <a href="?page=@pagenumber" class="@(Model.currentPage==pagenumber?"active":"")">@pagenumber</a>
    }
    @if (listPagination[listPagination.Count-1] + 1 < Model.totalPage)
    {
        <a href="?page=@(listPagination[listPagination.Count-1] + 1)">...</a>

    }
    @if (Model.currentPage != Model.totalPage && Model.totalPage != 0)
    {
        <a href="?page=@Model.totalPage">@Model.totalPage</a>
        <a href="?page=@Model.totalPage">&raquo;</a>
    }



</div>

