@model Aoo.ViewModels.PM.Category.AddCategoryViewModel

@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Admin/_FrontEndAdminLayout.cshtml";
}

<h2>Tạo Kiểu Giày Mới</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCategory" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">@Html.DisplayNameFor(model => model.Name)</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">@Html.DisplayNameFor(model => model.Description)</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultImage" class="control-label"> @Html.DisplayNameFor(model => model.DefaultImage)</label>
                @await Html.PartialAsync("~/Views/Component/SingpleUploadImage.cshtml", new Aoo.ViewModels.Component.SingleUploadImageModel { Name = "DefaultImage" }));
                <span asp-validation-for="DefaultImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo mới" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div class="backtolist">
    <a href="/Product/Index">Trở lại trang quản lý</a>
</div>

