@model Aoo.ViewModels.PM.Category.EditCategoryViewModel

@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Views/Admin/_FrontEndAdminLayout.cshtml";
}

<h2>Chỉnh Sửa Kiểu Giày Mới</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCategory" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ID" type="hidden" class="form-control" />
            <div class="form-group">
                <label class="control-label">Tên Kiểu Giày</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mô tả</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.OldImage" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DefaultImage" class="control-label"></label>
                @await Html.PartialAsync("~/Views/Component/SingpleUploadImage.cshtml", new Aoo.ViewModels.Component.SingleUploadImageModel { Name = "DefaultImage", DefaultImage = Model.OldImage })

                <span asp-validation-for="DefaultImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div class="backtolist">
    <a href="/Category/Index">Trở lại trang quản lý</a>
</div>

