html, body {
    background: white;
}

.titlename {
    font-weight:600;
    margin-left: 35%;
    margin-top: 7%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    .titlename h2 {
        color: black;
    }

.title ul {
    color: white;
    opacity: 0.8;
    width:73.3%;
    background: #1494e2;
    border: 2px solid #ccc;
    margin-top: 30px;
    margin-bottom: 0px;
    display: inline-flex;
    list-style-type: none;
}

    .title ul h1 {
        color: #fff;
        font-size: 20px;
        text-align: center;
    }

    .title ul li {
        padding: 10px 30px 10px 35px;
        border-right: 1px solid #ccc;
        width: 200px;
        height: 45px;
    }
        .title ul li input {
            margin:8px 0 0 50px;
        }

.btnsearch {
    margin: 35px 0 0 -340px;
    height: 30px;
}

.btnadd {
    margin-left: 26%;
    height: 30px;
}

.btnedit {
    margin-left: 26%;
    height: 30px;
}

.btndel {
    margin-left: 26%;
    height: 30px;
}

.editbtn {
    float: right;
    width: 14%;
    margin: 6% -16% 0 0;
}

.wrapper {
    padding: 0px!important;
}

.cmbbrand {
    margin: 3.5% 0 0 0;
}

    .cmbbrand select {
        font-size: 20px;
        width: 14%;
        font-weight: 600;
    }

th h1 {
    color: black;
    font-size: 15px;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}
tr {
    width: 600px;
    height: 60px;
}
th {
    width: 200px;
    text-align: center;
}
table {

    margin-top: 0px;
}
    tr td {
      text-align:center;
    }
table tr th input[type=checkbox]{
    margin:5px 0 0 0;
}
.mainindex {
    color: darkorange;
}
.subindex {
    color: darkorange;
    margin: -4.8% 0 0 16%;
}
.subsel {
    margin-left: 16%;
    width:100%;
}
.brandindex {
    color: darkorange;
    margin: -4.8% 0 0 33%;
}
.brandsel {
    margin-left: 33%;
    width: 100%;
}
.cateindex {
    color: darkorange;
    margin: -4.8% 0 0 50%;
}
.catesel {
    margin-left: 50%;
    width: 100%;
}
.suabtn {
    width: 50%;
    margin: 12.5% -16% 0 0;
}
.delbtn {
    width: 50%;
    margin: -15.5% 0% 0px 70px;
}
#stockmin .form-control{
    margin-top:2px;
}

