.tablebrand{
    margin-top:1%;
    width:75%;
}
    .tablebrand th {
        text-align:center;
        color:deeppink;  
    }
img{
    padding:10px;
    width:25%;
}
.tablebrand th td{
    color:initial;
}