.tablebrand{
    margin-top:5%;
    width:99%;
}
    .tablebrand th {
        text-align:center;
        color:deeppink;  
    }
.tabledisplay th{

    text-align:center;
}
    .tabledisplay th a {
        color: #000000;
    }
.tabledisplay th img{
    width:70%;
}
.tabledisplay th a:hover {
    color: yellow;
    cursor: pointer;
}
.tabledisplay .notdisplay{
}
.tabledisplay .delbtn{
    width: 70%;
    margin: -16.5% 0% 0px 70px;
}
.tabledisplay .delbtn button {
    width:48%;
    margin-top:-54px;
}
.fa-trash:before{
    position:absolute;
    margin:-1.6em 0 0 0.3em;
    color:#fff;
}
img {
    padding: 10px;
    width: 25%;
}
.tablebrand th td{
    color:initial;
}
.subadd {
    opacity: 0.8;
    width: 7%;
    float: right;
    border-radius: 5px;
    font-size: 22px;
    background:#f41919;
    border: 2px solid #ccc;
    margin-right: 21%;
    margin-bottom: 14px;
}
.subadd a{
    color:#fff;
    text-align:center;
    margin-left:7px;
}
    .subadd a:hover {
        color:crimson;
    }
.subedit {
    opacity: 0.8;
    width: 26%;
    float: left;
    height: 35px;
    margin-left: 35px;
    border-radius: 5px;
    font-size: 14px;
    background: #1494e2;
    padding: 9px 12px;
}
    .subedit a {
        color: #fff;
    }
#myInput {
    height: 40px;
    margin-top: 10px;
    width: 93%;
   
}
    #myInput.filpro {
        background-image: url(../../images/search.png);
        background-position: 945px 1px;
        background-size: 34px 34px;
        background-repeat: no-repeat;
    }
::placeholder { 
    color: red;
}