.row{
    margin-top:1%;
    margin-left:20%!important;
}
.backtolist {
    margin-left: 21%;
    margin-top: 2%;
    background: #1990ec;
    color: #fff!important;
    padding: 9px;
    font-size: 16px;
    width:12%;
    border: 1px solid transparent;
    border-radius: 5px;
}
.backtolist a{
    color:#fff;
}
a:hover{
    color:darkorange;
}
h2 {
    margin: 8% 0 0 20%;
    color: darkorange;
    font-family: serif;
}
h3 {
    margin: 8% 0 0 20%;
    font-family: serif;
}
.delmodel {
    margin: 1% 0 0 20%;
}
.delmodel .backtolist{
    margin:-33px 0 0 9%;
    padding: 4px;
    width:14%;
}
