
@model Aoo.ViewModels.PM.Brand.AddBrandViewModel
@{
    ViewData["Title"] = "AddBrand";
    Layout = "~/Views/Admin/_FrontEndAdminLayout.cshtml";
}

<h2>Tạo Thương Hiệu Mới</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBrand" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"> @Html.DisplayNameFor(model => model.Name) </label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div style="width:250%">
                <label class="control-label">@Html.DisplayNameFor(model=>model.Description)</label>
                <textarea name="Description" style="width:100%;height:200px" id="editor"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label"> @Html.DisplayNameFor(model => model.DefaultImage)</label>
                <span asp-validation-for="DefaultImage" class="text-danger"></span>
                @await Html.PartialAsync("~/Views/Component/SingpleUploadImage.cshtml", new Aoo.ViewModels.Component.SingleUploadImageModel { Name = "DefaultImage" })
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-danger" onclick="return confirm('Xác nhận yêu cầu')" />
            </div>
        </form>
    </div>
</div>

<div class="backtolist">
    <a href="/Brand/Index">Trở lại trang quản lý</a>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>




