@model DAL.Model.PM.Brand

@{
    ViewData["Title"] = "EditBrand";
    Layout = "~/Views/Admin/_FrontEndAdminLayout.cshtml";
}

<h2>Sửa chửa Nhãn hiệu</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBrand">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input value="@Model.Name" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input value="@Model.Description" class="form-control"  />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Ảnh Cũ</label>
               <img width="100px" height="50px" src=@Url.Content(Model.DefaultImage)>
            </div>
            <div class="form-group">
                <label class="control-label"> @Html.DisplayNameFor(model => model.DefaultImage)</label>
                <input asp-for="DefaultImage" type="file" class="form-control" />
                <span asp-validation-for="DefaultImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div class="backtolist">
    <a href="/Product/Index">Trở lại trang quản lý</a>
</div>

