@model Common.ViewModel.PM.BrandViewModel

@{
    ViewData["Title"] = "EditBrand";
    Layout = "~/Views/Admin/_FrontEndAdminLayout.cshtml";
}

<h2>Sửa chửa Nhãn hiệu</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBrand">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Tên hiệu giày</label>
                <input asp-for="nameBrand" class="form-control" />
                <span asp-validation-for="nameBrand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mô tả</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ảnh</label>
                <input asp-for="defaultImages" class="form-control" />
                <span asp-validation-for="defaultImages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div class="backtolist">
    <a href="/Product/Index">Trở lại trang quản lý</a>
</div>

