
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Admin/_FrontEndAdminLayout.cshtml";
}
<link rel="stylesheet" href="~/css/Admin/css/admindev.css" type="text/css" />
<link href="css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2 class="titlename">Danh Sách Sản Phẩm</h2>
<div class="editbtn">
    <button type="button" class="btn-info fa fa-search btnsearch" aria-hidden="true"> Tìm kiếm</button>
    <button type="button" class="btn-danger fa fa-plus btnadd"> Thêm mới</button>
    <button type="button" class="btn-success fa fa-pencil btnedit"> Sửa</button>
    <button type="button" class="btn-warning fa fa-close btndel"> Xóa</button>
</div>
<div class="titlebrand">
    <ul>
        <li>Kiểu</li>
        <li>Hiệu</li>
        <li>Loại</li>
    </ul>
</div>
<div class="title">
    <ul>
        <li>STT</li>
        <li>Tên Sản Phẩm</li>
        <li>Giá Sản Phẩm</li>
    </ul>
</div>




