
@{
    ViewData["Title"] = "MenShop";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}
<!-- Men's-Product-Display -->
<div class="wthreeproductdisplay">
    <div id="cbp-pgcontainer" class="cbp-pgcontainer">
        <ul class="cbp-pggrid">
            <li class="wthree aits w3l">
                <div class="cbp-pgcontent" id="men-8">
                    <span class="cbp-pgrotate"><i class="fa fa-exchange" aria-hidden="true"></i></span>
                    <a href="mens_single.html">
                        <div class="cbp-pgitem a3ls">
                            <div class="cbp-pgitem-flip">
                                <img src="images/1-front.jpg" alt="Groovy Apparel">
                                <img src="images/1-back.jpg" alt="Groovy Apparel">
                            </div>
                        </div>
                    </a>
                    <ul class="cbp-pgoptions w3l">
                        <li class="cbp-pgoptcompare">
                            <input type="checkbox" name="checkboxG8" id="checkboxG8" class="css-checkbox w3"><label for="checkboxG8" class="css-label"></label>
                        </li>
                        <li class="cbp-pgoptfav">
                            <span>5 <i class="fa fa-star" aria-hidden="true"></i></span>
                        </li>
                        <li class="cbp-pgoptsize agile">
                            <span data-size="XL">XL</span>
                            <div class="cbp-pgopttooltip">
                                <span data-size="XL">XL</span>
                                <span data-size="L">L</span>
                                <span data-size="M">M</span>
                                <span data-size="S">S</span>
                            </div>
                        </li>
                        <li class="cbp-pgoptcart">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3l_item" value="Sweater ">
                                <input type="hidden" name="amount" value="25.00">
                                <button type="submit" class="w3l-cart pw3l-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <span class="w3-agile-line"> </span>
                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                            </form>
                        </li>
                    </ul>
                </div>
                <a href="mens_single.html">
                    <div class="cbp-pginfo w3layouts">
                        <h3>Sweater</h3>
                        <span class="cbp-pgprice">$25</span>
                    </div>
                </a>
            </li>
            <li class="wthree aits w3l">
                <div class="cbp-pgcontent" id="men-8">
                    <span class="cbp-pgrotate"><i class="fa fa-exchange" aria-hidden="true"></i></span>
                    <a href="mens_single.html">
                        <div class="cbp-pgitem a3ls">
                            <div class="cbp-pgitem-flip">
                                <img src="images/2-front.jpg" alt="Groovy Apparel">
                                <img src="images/2-back.jpg" alt="Groovy Apparel">
                            </div>
                        </div>
                    </a>
                    <ul class="cbp-pgoptions w3l">
                        <li class="cbp-pgoptcompare">
                            <input type="checkbox" name="checkboxG8" id="checkboxG8" class="css-checkbox w3"><label for="checkboxG8" class="css-label"></label>
                        </li>
                        <li class="cbp-pgoptfav">
                            <span>5 <i class="fa fa-star" aria-hidden="true"></i></span>
                        </li>
                        <li class="cbp-pgoptsize agile">
                            <span data-size="XL">XL</span>
                            <div class="cbp-pgopttooltip">
                                <span data-size="XL">XL</span>
                                <span data-size="L">L</span>
                                <span data-size="M">M</span>
                                <span data-size="S">S</span>
                            </div>
                        </li>
                        <li class="cbp-pgoptcart">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3l_item" value="Grey T-Shirt ">
                                <input type="hidden" name="amount" value="15.00">
                                <button type="submit" class="w3l-cart pw3l-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <span class="w3-agile-line"> </span>
                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                            </form>
                        </li>
                    </ul>
                </div>
                <a href="mens_single.html">
                    <div class="cbp-pginfo w3layouts">
                        <h3>Grey T-Shirt</h3>
                        <span class="cbp-pgprice">$15</span>
                    </div>
                </a>
            </li>
            <li class="wthree aits w3l">
                <div class="cbp-pgcontent" id="men-8">
                    <span class="cbp-pgrotate"><i class="fa fa-exchange" aria-hidden="true"></i></span>
                    <a href="mens_single.html">
                        <div class="cbp-pgitem a3ls">
                            <div class="cbp-pgitem-flip">
                                <img src="images/3-front.jpg" alt="Groovy Apparel">
                                <img src="images/3-back.jpg" alt="Groovy Apparel">
                            </div>
                        </div>
                    </a>
                    <ul class="cbp-pgoptions w3l">
                        <li class="cbp-pgoptcompare">
                            <input type="checkbox" name="checkboxG8" id="checkboxG8" class="css-checkbox w3"><label for="checkboxG8" class="css-label"></label>
                        </li>
                        <li class="cbp-pgoptfav">
                            <span>5 <i class="fa fa-star" aria-hidden="true"></i></span>
                        </li>
                        <li class="cbp-pgoptsize agile">
                            <span data-size="XL">XL</span>
                            <div class="cbp-pgopttooltip">
                                <span data-size="XL">XL</span>
                                <span data-size="L">L</span>
                                <span data-size="M">M</span>
                                <span data-size="S">S</span>
                            </div>
                        </li>
                        <li class="cbp-pgoptcart">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3l_item" value="White T-Shirt ">
                                <input type="hidden" name="amount" value="15.00">
                                <button type="submit" class="w3l-cart pw3l-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <span class="w3-agile-line"> </span>
                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                            </form>
                        </li>
                    </ul>
                </div>
                <a href="mens_single.html">
                    <div class="cbp-pginfo w3layouts">
                        <h3>White T-Shirt</h3>
                        <span class="cbp-pgprice">$15</span>
                    </div>
                </a>
            </li>
            <li class="wthree aits w3l">
                <div class="cbp-pgcontent" id="men-7">
                    <span class="cbp-pgrotate"><i class="fa fa-exchange" aria-hidden="true"></i></span>
                    <a href="mens_single.html">
                        <div class="cbp-pgitem a3ls">
                            <div class="cbp-pgitem-flip">
                                <img src="images/4-front.jpg" alt="Groovy Apparel">
                                <img src="images/4-back.jpg" alt="Groovy Apparel">
                            </div>
                        </div>
                    </a>
                    <ul class="cbp-pgoptions w3l">
                        <li class="cbp-pgoptcompare">
                            <input type="checkbox" name="checkboxG7" id="checkboxG7" class="css-checkbox w3"><label for="checkboxG7" class="css-label"></label>
                        </li>
                        <li class="cbp-pgoptfav">
                            <span>4.5 <i class="fa fa-star" aria-hidden="true"></i></span>
                        </li>
                        <li class="cbp-pgoptsize agile">
                            <span data-size="XL">XL</span>
                            <div class="cbp-pgopttooltip">
                                <span data-size="XL">XL</span>
                                <span data-size="L">L</span>
                                <span data-size="M">M</span>
                                <span data-size="S">S</span>
                            </div>
                        </li>
                        <li class="cbp-pgoptcart">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3l_item" value="Denim Jaket ">
                                <input type="hidden" name="amount" value="15.00">
                                <button type="submit" class="w3l-cart pw3l-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> </button>
                                <span class="w3-agile-line"> </span>
                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                            </form>
                        </li>
                    </ul>
                </div>
                <a href="mens_single.html">
                    <div class="cbp-pginfo w3layouts">
                        <h3>Denim Jacket</h3>
                        <span class="cbp-pgprice">$15</span>
                    </div>
                </a>
            </li>
            <li class="wthree aits w3l">
                <div class="cbp-pgcontent" id="men-8">
                    <span class="cbp-pgrotate"><i class="fa fa-exchange" aria-hidden="true"></i></span>
                    <a href="mens_single.html">
                        <div class="cbp-pgitem a3ls">
                            <div class="cbp-pgitem-flip">
                                <img src="images/5-front.jpg" alt="Groovy Apparel">
                                <img src="images/5-back.jpg" alt="Groovy Apparel">
                            </div>
                        </div>
                    </a>
                    <ul class="cbp-pgoptions w3l">
                        <li class="cbp-pgoptcompare">
                            <input type="checkbox" name="checkboxG8" id="checkboxG8" class="css-checkbox w3"><label for="checkboxG8" class="css-label"></label>
                        </li>
                        <li class="cbp-pgoptfav">
                            <span>5 <i class="fa fa-star" aria-hidden="true"></i></span>
                        </li>
                        <li class="cbp-pgoptsize agile">
                            <span data-size="XL">XL</span>
                            <div class="cbp-pgopttooltip">
                                <span data-size="XL">XL</span>
                                <span data-size="L">L</span>
                                <span data-size="M">M</span>
                                <span data-size="S">S</span>
                            </div>
                        </li>
                        <li class="cbp-pgoptcart">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3l_item" value="Blue Jeans ">
                                <input type="hidden" name="amount" value="20.00">
                                <button type="submit" class="w3l-cart pw3l-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <span class="w3-agile-line"> </span>
                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                            </form>
                        </li>
                    </ul>
                </div>
                <a href="mens_single.html">
                    <div class="cbp-pginfo w3layouts">
                        <h3>Blue Jeans</h3>
                        <span class="cbp-pgprice">$20</span>
                    </div>
                </a>
            </li>
            <li class="wthree aits w3l">
                <div class="cbp-pgcontent" id="men-9">
                    <span class="cbp-pgrotate"><i class="fa fa-exchange" aria-hidden="true"></i></span>
                    <a href="mens_single.html">
                        <div class="cbp-pgitem a3ls">
                            <div class="cbp-pgitem-flip">
                                <img src="images/6-front.jpg" alt="Groovy Apparel">
                                <img src="images/6-back.jpg" alt="Groovy Apparel">
                            </div>
                        </div>
                    </a>
                    <ul class="cbp-pgoptions w3l">
                        <li class="cbp-pgoptcompare">
                            <input type="checkbox" name="checkboxG9" id="checkboxG9" class="css-checkbox w3"><label for="checkboxG9" class="css-label"></label>
                        </li>
                        <li class="cbp-pgoptfav">
                            <span>5 <i class="fa fa-star" aria-hidden="true"></i></span>
                        </li>
                        <li class="cbp-pgoptsize agile">
                            <span data-size="XL">XL</span>
                            <div class="cbp-pgopttooltip">
                                <span data-size="XL">XL</span>
                                <span data-size="L">L</span>
                                <span data-size="M">M</span>
                                <span data-size="S">S</span>
                            </div>
                        </li>
                        <li class="cbp-pgoptcart">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3l_item" value="Green Trousers ">
                                <input type="hidden" name="amount" value="18.00">
                                <button type="submit" class="w3l-cart pw3l-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <span class="w3-agile-line"> </span>
                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                            </form>
                        </li>
                    </ul>
                </div>
                <a href="mens_single.html">
                    <div class="cbp-pginfo w3layouts">
                        <h3>Green Trousers</h3>
                        <span class="cbp-pgprice">$18</span>
                    </div>
                </a>
            </li>
            <li class="wthree aits w3l">
                <div class="cbp-pgcontent" id="men-7">
                    <span class="cbp-pgrotate"><i class="fa fa-exchange" aria-hidden="true"></i></span>
                    <a href="mens_single.html">
                        <div class="cbp-pgitem a3ls">
                            <div class="cbp-pgitem-flip">
                                <img src="images/7-front.jpg" alt="Groovy Apparel">
                                <img src="images/7-back.jpg" alt="Groovy Apparel">
                            </div>
                        </div>
                    </a>
                    <ul class="cbp-pgoptions w3l">
                        <li class="cbp-pgoptcompare">
                            <input type="checkbox" name="checkboxG7" id="checkboxG7" class="css-checkbox w3"><label for="checkboxG7" class="css-label"></label>
                        </li>
                        <li class="cbp-pgoptfav">
                            <span>4.5 <i class="fa fa-star" aria-hidden="true"></i></span>
                        </li>
                        <li class="cbp-pgoptsize agile">
                            <span data-size="XL">XL</span>
                            <div class="cbp-pgopttooltip">
                                <span data-size="XL">XL</span>
                                <span data-size="L">L</span>
                                <span data-size="M">M</span>
                                <span data-size="S">S</span>
                            </div>
                        </li>
                        <li class="cbp-pgoptcart">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3l_item" value="Red Shorts ">
                                <input type="hidden" name="amount" value="15.00">
                                <button type="submit" class="w3l-cart pw3l-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> </button>
                                <span class="w3-agile-line"> </span>
                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                            </form>
                        </li>
                    </ul>
                </div>
                <a href="mens_single.html">
                    <div class="cbp-pginfo w3layouts">
                        <h3>Red Shorts</h3>
                        <span class="cbp-pgprice">$15</span>
                    </div>
                </a>
            </li>
            <li class="wthree aits w3l">
                <div class="cbp-pgcontent" id="men-8">
                    <span class="cbp-pgrotate"><i class="fa fa-exchange" aria-hidden="true"></i></span>
                    <a href="mens_single.html">
                        <div class="cbp-pgitem a3ls">
                            <div class="cbp-pgitem-flip">
                                <img src="images/8-front.jpg" alt="Groovy Apparel">
                                <img src="images/8-back.jpg" alt="Groovy Apparel">
                            </div>
                        </div>
                    </a>
                    <ul class="cbp-pgoptions w3l">
                        <li class="cbp-pgoptcompare">
                            <input type="checkbox" name="checkboxG8" id="checkboxG8" class="css-checkbox w3"><label for="checkboxG8" class="css-label"></label>
                        </li>
                        <li class="cbp-pgoptfav">
                            <span>5 <i class="fa fa-star" aria-hidden="true"></i></span>
                        </li>
                        <li class="cbp-pgoptsize agile">
                            <span data-size="XL">XL</span>
                            <div class="cbp-pgopttooltip">
                                <span data-size="XL">XL</span>
                                <span data-size="L">L</span>
                                <span data-size="M">M</span>
                                <span data-size="S">S</span>
                            </div>
                        </li>
                        <li class="cbp-pgoptcart">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3l_item" value="Black Jacket ">
                                <input type="hidden" name="amount" value="35.00">
                                <button type="submit" class="w3l-cart pw3l-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                <span class="w3-agile-line"> </span>
                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                            </form>
                        </li>
                    </ul>
                </div>
                <a href="mens_single.html">
                    <div class="cbp-pginfo w3layouts">
                        <h3>Black Jacket</h3>
                        <span class="cbp-pgprice">$35</span>
                    </div>
                </a>
            </li>
            <li class="wthree aits w3l">
                <div class="cbp-pgcontent" id="men-7">
                    <span class="cbp-pgrotate"><i class="fa fa-exchange" aria-hidden="true"></i></span>
                    <a href="mens_single.html">
                        <div class="cbp-pgitem a3ls">
                            <div class="cbp-pgitem-flip">
                                <img src="images/4-front.jpg" alt="Groovy Apparel">
                                <img src="images/4-back.jpg" alt="Groovy Apparel">
                            </div>
                        </div>
                    </a>
                    <ul class="cbp-pgoptions w3l">
                        <li class="cbp-pgoptcompare">
                            <input type="checkbox" name="checkboxG7" id="checkboxG7" class="css-checkbox w3"><label for="checkboxG7" class="css-label"></label>
                        </li>
                        <li class="cbp-pgoptfav">
                            <span>4.5 <i class="fa fa-star" aria-hidden="true"></i></span>
                        </li>
                        <li class="cbp-pgoptsize agile">
                            <span data-size="XL">XL</span>
                            <div class="cbp-pgopttooltip">
                                <span data-size="XL">XL</span>
                                <span data-size="L">L</span>
                                <span data-size="M">M</span>
                                <span data-size="S">S</span>
                            </div>
                        </li>
                        <li class="cbp-pgoptcart">
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3l_item" value="Denim Jaket ">
                                <input type="hidden" name="amount" value="15.00">
                                <button type="submit" class="w3l-cart pw3l-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> </button>
                                <span class="w3-agile-line"> </span>
                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                            </form>
                        </li>
                    </ul>
                </div>
                <a href="mens_single.html">
                    <div class="cbp-pginfo w3layouts">
                        <h3>Denim Jacket</h3>
                        <span class="cbp-pgprice">$15</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- //Men's-Product-Display -->
<!-- Custom-JavaScript-File-Links -->
<!-- Default-JavaScript -->
<script src="js/jquery-2.2.3.js"></script>


<script src="js/modernizr.custom.js"></script>

<!-- Shopping-Cart-JavaScript -->
<!-- cart-js -->
<script src="js/minicart.js"></script>
<script>
    w3l.render();

    w3l.cart.on('w3agile_checkout', function (evt) {
        var items, len, i;

        if (this.subtotal() > 0) {
            items = this.items();

            for (i = 0, len = items.length; i < len; i++) {
            }
        }
    });
</script>
<!-- //cart-js -->
<!-- Shopping-Cart-JavaScript -->
<!-- Dropdown-Menu-JavaScript -->
<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //Dropdown-Menu-JavaScript -->
<!-- Popup-Box-JavaScript -->
<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });
    });
</script>
<!-- //Popup-Box-JavaScript -->

<script src="js/cbpShop.min.js"></script>
<script>
    var shop = new cbpShop(document.getElementById('cbp-pgcontainer'));
</script>

<!-- //Custom-JavaScript-File-Links -->
<!-- Bootstrap-JavaScript -->
<script src="js/bootstrap.js"></script>