@model IEnumerable<DAL.Model.PM.Product>
@using Common.Enum.PM;

@{
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
 
}
@await Html.PartialAsync("~/Views/Shared/ListProduct.cshtml", Model);

<!-- Shopping-Cart-JavaScript -->
<!-- cart-js -->
<!-- Shopping-Cart-JavaScript -->
<!-- Dropdown-Menu-JavaScript -->
<!-- //Dropdown-Menu-JavaScript -->
<!-- Popup-Box-JavaScript -->
@*<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>*@
<!-- //Popup-Box-JavaScript -->
@*<script src="js/cbpShop.min.js"></script>
    <script>
        var shop = new cbpShop(document.getElementById('cbp-pgcontainer'));
    </script>*@

<!-- //Custom-JavaScript-File-Links -->
<!-- Bootstrap-JavaScript -->
<div class="" style="margin-bottom:10em">
    @await Html.PartialAsync("~/Views/Component/Pagination.cshtml", new Aoo.ViewModels.Component.PaginationModel { currentPage = ViewBag.page, totalPage = ViewBag.totalpage })

</div>