
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_FrontEndAdminLayout.cshtml";
}

<h2>Index</h2>
<div>
    <h2>STT</h2>
    <h2>Tên Sản Phẩm</h2>
    <h2>Giá Sản Phẩm</h2>
</div>
<h2>Kiểu</h2>
<h2>Hiệu</h2>
<h2>Loại</h2>


