@model DAL.Model.PM.SubGroup


@{
    ViewData["Title"] = "AddSubGroup";
    Layout = "~/Views/Admin/_FrontEndAdminLayout.cshtml";
}

<h2>AddSubGroup</h2>

<h4>SubGroupViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSubGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Tên Loại Sản Phẩm</label>
                <input class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hình Ảnh</label>
                <input  class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Giới Tính</label>
                <input class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo Mới" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div class="backtolist">
     <a href="/Product/Index">Trở lại trang quản lý</a>
</div>

