@model Aoo.ViewModels.PM.Store.AddViewStoreModel
    @inject BLL.BLL.PM.IProvinceBLL ProvinceBLL
    @{
        ViewData["Title"] = "Add";
        Layout = "~/Views/Admin/_FrontEndAdminLayout.cshtml";
        IEnumerable<DAL.Model.PM.Province> districts = await ProvinceBLL.Get();
    }

    @{
        ViewData["Title"] = "AddStore";
        Layout = "~/Views/Admin/_FrontEndAdminLayout.cshtml";
    }

    <h2>Tạo cửa hàng mới</h2>
    <div class="cmbbrand">
        <select>
            <option>Địa điểm</option>

            @foreach (var item in districts)
            {

                <option>@item.Name</option>

            }
        </select>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="AddStore" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NameStore" class="control-label"></label>
                        <input asp-for="NameStore" class="form-control" />
                        <span asp-validation-for="NameStore" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="DefaultImage" class="control-label"></label>
                        @await Html.PartialAsync("~/Views/Component/SingpleUploadImage.cshtml", new Aoo.ViewModels.Component.SingleUploadImageModel { Name = "DefaultImage" })
                        <span asp-validation-for="DefaultImage" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div class="backtolist">
            <a href="/Store/Index">Trở lại trang quản lý</a>
        </div>
