@{

    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}
@*

    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="w3aitssinglewthree">
    <div class="container">
        @Html.Raw(
        ViewBag.html
        )
        </div>
</div>