@model Aoo.Models.AccountViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<link rel="stylesheet" href="~/css/login.dev.css" type="text/css" media="all">
<link href="css/font-awesome.css" rel="stylesheet"><!-- Font-awesome-CSS -->
<link href="css/style.css" rel='stylesheet' type='text/css' /><!-- style.css -->
<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<div class="main-agile" style="margin-top:100px">
    <div class="alert-close"> </div>
    <div class="content-wthree">
        <div class="circle-w3layouts"></div>
        <h2>Login</h2>
        <form method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" style="color:red" class="text-danger"></div>

            <div class="inputs-w3ls">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="text" name="Username" placeholder="Username" required="">

            </div>
            <div class="inputs-w3ls">
                <i class="fa fa-key" aria-hidden="true"></i>
                <input type="password" name="Password" placeholder="Password" required="">
            </div>
            <div class="inputs-w3ls" style="margin-left:-40%">
                <input type="checkbox" name="RememberMe" />   <label>Remember Me</label>
            </div>
            <input type="submit" value="LOGIN">
            <div class="wthree-text">
                <ul>
                    <li> <a href="#">Forgot password?</a> </li>
                </ul>
            </div>
        </form>
    </div>
</div>


